## DATA HACKERMAN FINAL PROJECT

### PART 2 - _File type manipulation and formatting_

Three files are presented, one CSV, one TXT and one JSON file. Each contain 1000 rows of data. There are two challenges, both involving collating these files into one data frame. The fields in all files are:

   - 'author.properties.friends',  'author.properties.status_count',  'author.properties.verified',  'content.body',  'location.country',  'properties.platform',  'properties.sentiment',  'location.latitude',  'location.longitude' where the ‘.’ Indicates a nested field.
 
a) Collate the CSV and TXT files together into one pandas dataframe (dataframe should be 2000 rows and have all of the columns present in both files)

b) Use the created dataframe, integrate the data from the JSON file into the existing columns. The resulting dataframe should now be 3000 rows long.

In [1]:
import pandas as pd
import json
import os

pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)
pd.options.display.max_colwidth = None
pd.set_option("display.float_format", lambda x: '%.2f' % x)

from IPython.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

from data_ingestion.ingest import get_data
from parameters.params import csv_file_path, text_file_path, json_file_path, save_path

### Read in Data

**CSV DATA**

In [2]:
csv_data = get_data(csv_file_path)
csv_data.sample(2)

,author.properties.friends,author.properties.status_count,author.properties.verified,content.body,location.country,properties.platform,properties.sentiment,location.latitude,location.longitude
303,190,72649,False,@Pankajcsk https://t.co/jbpyDudi5j,GB,twitter,0,51.59,0.08
78,279,12649,False,I won £20 on PengWin Pursuit https://t.co/cIr5jpzMRC #BetterChances #GameStore… https://t.co/zSpcfiS7S2,GB,twitter,0,54.13,-0.79

In [3]:
csv_data.columns

Index(['author.properties.friends', 'author.properties.status_count',
       'author.properties.verified', 'content.body', 'location.country',
       'properties.platform', 'properties.sentiment', 'location.latitude',
       'location.longitude'],
      dtype='object')

In [4]:
csv_data.shape

(1000, 9)

**TXT DATA**

In [5]:
txt_data = get_data(text_file_path)
txt_data.sample(2)

,author.properties.friends,author.properties.verified,location.longitude,author.properties.status_count,properties.sentiment,location.latitude,location.country,content.body,properties.platform
11,278,False,-0.34,31474.00,-1.00,51.60,GB,@Wackkyyy Yes if you take your shirt off like you did in the skype call. 👀,twitter
790,1623,False,-6.66,72985.00,-1.00,55.13,GB,Check out what I found. https://t.co/HPMqkjsmjd via @eBay_UK,twitter

In [6]:
txt_data.columns

Index(['author.properties.friends', 'author.properties.verified',
       'location.longitude', 'author.properties.status_count',
       'properties.sentiment', 'location.latitude', 'location.country',
       'content.body', 'properties.platform'],
      dtype='object')

In [7]:
txt_data.shape

(1000, 9)

**JSON DATA**

In [8]:
json_data = get_data(json_file_path)
json_data[0]

{'author': {'properties': {'friends': 150,
   'verified': False,
   'status_count': 583}},
 'location': {'longitude': -1.4496120000000003,
  'country': 'GB',
  'latitude': 53.38322877572023},
 'content': {'body': "To everyone tryin to snapchat me fuck off I'm ugly"},
 'properties': {'sentiment': -1, 'platform': 'twitter'}}

In [9]:
json_data_normalized = pd.json_normalize(json_data)
json_data_normalized.sample(2)

,author.properties.friends,author.properties.verified,author.properties.status_count,location.longitude,location.country,location.latitude,content.body,properties.sentiment,properties.platform
981,2481,False,15064,-0.31,GB,51.44,".@ComedyRTGrp Cheers for the RT, #ComedyRetweetGroup & all your support of #livecomedy Have a fab evening x @Visit_Richmond1 @Anglers_TW11",1,twitter
324,1669,False,4217,-4.20,GB,57.79,"@the401challenge pssst.. Ben it was Victoria that sorted the route, Karen made fab food 👍 keep working hard! Sending good vibes.",0,twitter

In [10]:
json_data_normalized.shape

(1000, 9)

### Collating the CSV and TXT files together

In [11]:
csv_txt_combined = pd.concat([csv_data, txt_data])

In [12]:
csv_txt_combined.shape

(2000, 9)

In [13]:
csv_txt_combined[998:1002]

,author.properties.friends,author.properties.status_count,author.properties.verified,content.body,location.country,properties.platform,properties.sentiment,location.latitude,location.longitude
998,2445,3848.00,False,"Spent half my childhood watching music channels, never felt so nostalgic ahaha",GB,twitter,-1.00,51.18,-0.61
999,253,38802.00,False,Who is responsible for this because same https://t.co/L5q648stp4,GB,twitter,-1.00,52.63,-1.13
0,632,106490.00,False,@moel_bryn https://t.co/qvz1bI2Utb,GB,twitter,0.00,52.12,-2.32
1,278,31467.00,False,Who wants to rap battle with me on stream tomorrow 👀,GB,twitter,-1.00,51.60,-0.34

In [14]:
csv_txt_combined.columns

Index(['author.properties.friends', 'author.properties.status_count',
       'author.properties.verified', 'content.body', 'location.country',
       'properties.platform', 'properties.sentiment', 'location.latitude',
       'location.longitude'],
      dtype='object')

### Collating the CSV, TXT and JSON files together

In [15]:
csv_txt_json_combined = pd.concat([csv_txt_combined, json_data_normalized])
csv_txt_json_combined.shape

(3000, 9)

In [16]:
csv_txt_json_combined[1998:2002]

,author.properties.friends,author.properties.status_count,author.properties.verified,content.body,location.country,properties.platform,properties.sentiment,location.latitude,location.longitude
998,346,18689.00,False,@Amyyy14 thank u so much Amy you really get me ❤️ I come home tmrw let's get drinks,GB,twitter,1.00,54.79,-1.56
999,205,2271.00,False,Groves on points https://t.co/qHxgz4Fn8f,GB,twitter,-1.00,52.19,-1.70
0,150,583.00,False,To everyone tryin to snapchat me fuck off I'm ugly,GB,twitter,-1.00,53.38,-1.45
1,1321,86271.00,False,@cammiescott have you ever been to Scotland? You should give Nessie a wee visit! (I live near her) #askcamscott,GB,twitter,-1.00,57.79,-4.20

In [17]:
csv_txt_json_combined.to_csv(os.path.join(save_path,'combined_data.csv'), index=False)

In [18]:
#df.to_csv(os.path.join('myfolder','yourfilename.csv'))