## DATA HACKERMAN FINAL PROJECT

### PART 2 - _File type manipulation and formatting_

Three files are presented, one CSV, one TXT and one JSON file. Each contain 1000 rows of data. There are two challenges, both involving collating these files into one data frame. The fields in all files are:

   - 'author.properties.friends',  'author.properties.status_count',  'author.properties.verified',  'content.body',  'location.country',  'properties.platform',  'properties.sentiment',  'location.latitude',  'location.longitude' where the â€˜.â€™ Indicates a nested field.
 
a) Collate the CSV and TXT files together into one pandas dataframe (dataframe should be 2000 rows and have all of the columns present in both files)

b) Use the created dataframe, integrate the data from the JSON file into the existing columns. The resulting dataframe should now be 3000 rows long.

In [1]:
import pandas as pd
import json

pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)
pd.options.display.max_colwidth = None
pd.set_option("display.float_format", lambda x: '%.2f' % x)

from IPython.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

from data_ingestion.ingest import get_data
from parameters.params import csv_file_path, text_file_path, json_file_path

### Read in Data

**CSV DATA**

In [2]:
csv_data = get_data(csv_file_path)
csv_data.sample(2)

,author.properties.friends,author.properties.status_count,author.properties.verified,content.body,location.country,properties.platform,properties.sentiment,location.latitude,location.longitude
155,2382,66234,False,Putlocker blocked now. And couch tuner,GB,twitter,1,52.97,-1.17
120,52,881,False,@TedWall4 Sanders? https://t.co/Bl9Em2WCUN,GB,twitter,0,53.32,-2.23

In [3]:
csv_data.columns

Index(['author.properties.friends', 'author.properties.status_count',
       'author.properties.verified', 'content.body', 'location.country',
       'properties.platform', 'properties.sentiment', 'location.latitude',
       'location.longitude'],
      dtype='object')

In [4]:
csv_data.shape

(1000, 9)

**TXT DATA**

In [5]:
txt_data = get_data(text_file_path)
txt_data.sample(2)

,author.properties.friends,author.properties.verified,location.longitude,author.properties.status_count,properties.sentiment,location.latitude,location.country,content.body,properties.platform
249,643,False,-1.14,80968.00,0.00,53.52,GB,Oreo hoeðŸ˜Ž https://t.co/7JF0LvRLyZ,twitter
107,1090,False,0.29,16316.00,0.00,50.78,GB,"@rositastef criticise many countries on human rights, Israel has no exceptions, nation states have a duty to seek a peace process",twitter

In [6]:
txt_data.columns

Index(['author.properties.friends', 'author.properties.verified',
       'location.longitude', 'author.properties.status_count',
       'properties.sentiment', 'location.latitude', 'location.country',
       'content.body', 'properties.platform'],
      dtype='object')

In [7]:
txt_data.shape

(1000, 9)

**JSON DATA**

In [8]:
json_data = get_data(json_file_path)
json_data[0]

{'author': {'properties': {'friends': 150,
   'verified': False,
   'status_count': 583}},
 'location': {'longitude': -1.4496120000000003,
  'country': 'GB',
  'latitude': 53.38322877572023},
 'content': {'body': "To everyone tryin to snapchat me fuck off I'm ugly"},
 'properties': {'sentiment': -1, 'platform': 'twitter'}}

In [9]:
json_data_normalized = pd.json_normalize(json_data)
json_data_normalized.sample(2)

,author.properties.friends,author.properties.verified,author.properties.status_count,location.longitude,location.country,location.latitude,content.body,properties.sentiment,properties.platform
113,396,False,20869,-2.13,GB,57.16,If someone could invent a way for me to do my makeup at night n it be the same when I wake up for work in the morning that'd be sweet thanks,-1,twitter
13,894,False,32005,-1.09,GB,53.97,It's been an exceedingly long day of very mixed emotions. I'm tired and hungry so I've opted for an nice aromatic crispy duck ðŸ˜œ,1,twitter

In [10]:
json_data_normalized.shape

(1000, 9)

### Collating the CSV and TXT files together

In [11]:
csv_txt_combined = pd.concat([csv_data, txt_data])

In [12]:
csv_txt_combined.shape

(2000, 9)

In [13]:
csv_txt_combined[998:1002]

,author.properties.friends,author.properties.status_count,author.properties.verified,content.body,location.country,properties.platform,properties.sentiment,location.latitude,location.longitude
998,2445,3848.00,False,"Spent half my childhood watching music channels, never felt so nostalgic ahaha",GB,twitter,-1.00,51.18,-0.61
999,253,38802.00,False,Who is responsible for this because same https://t.co/L5q648stp4,GB,twitter,-1.00,52.63,-1.13
0,632,106490.00,False,@moel_bryn https://t.co/qvz1bI2Utb,GB,twitter,0.00,52.12,-2.32
1,278,31467.00,False,Who wants to rap battle with me on stream tomorrow ðŸ‘€,GB,twitter,-1.00,51.60,-0.34

In [14]:
csv_txt_combined.columns

Index(['author.properties.friends', 'author.properties.status_count',
       'author.properties.verified', 'content.body', 'location.country',
       'properties.platform', 'properties.sentiment', 'location.latitude',
       'location.longitude'],
      dtype='object')

### Collating the CSV, TXT and JSON files together

In [15]:
csv_txt_json_combined = pd.concat([csv_txt_combined, json_data_normalized])
csv_txt_json_combined.shape

(3000, 9)